version: "3.8"

services:
  azure_kinect_recording:
    build:
      context: .
      dockerfile: Dockerfile.azure-kinect
    container_name: azure_kinect_recording
    runtime: nvidia               # keep GPU access
    network_mode: host
    privileged: true
    group_add:
      - plugdev
      - video
      - dialout
    devices:
      - "/dev:/dev"
      - "/dev/bus/usb:/dev/bus/usb"
    environment:
      - DISPLAY=${DISPLAY}
      - ROS_MASTER_URI=http://localhost:11311
      - ROS_IP=127.0.0.1
      - UDEV=1
      - QT_X11_NO_MITSHM=1
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    volumes:
      # SSD from host -> /data inside container
      - "/media/cvg-robotics/Extreme\ SSD1/martin:/data"

      # Mount your launch + record script into the container
      - ./launch/kinect_rgbd.launch:/catkin_ws/src/Azure_Kinect_ROS_Driver/launch/kinect_rgbd.launch
      - ./scripts/record_scene.sh:/catkin_ws/record_scene.sh:ro
    stdin_open: true
    tty: true
    command: ["bash"]
